@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Montserrat", serif;
    font-weight: 300;
}

.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.466)), url("./assets/herrr.jpg");

}

.word {
    display: inline-block;

    word-wrap: break-word;

    overflow-wrap: break-word;
    white-space: normal;
}

.back {
    background-image: linear-gradient(30deg, #04344fa8, 80%, #606135da), url("./assets/i .webp");
    background-attachment: fixed;
}
@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-infinite-slider {
  animation: infinite-scroll 20s linear infinite;
}